body {
    margin: 0px;
}

div {
    display: grid;
    height: 100vh;
    gap: 10px;
    grid-template: 10vh 1fr 1fr 8vh / 1fr 55vw 23vw;
    grid-template-areas:
        "hd hd hd"
        "nv mn as"
        "se mn as"
        "ft ft ft";
}

header {
    grid-area: hd;
    background-color: #f39c12;
    display: grid;
    grid-template-areas: 
    "lo ru";
    grid-template-columns: 5vw 95vw;
    grid-template-rows: 10vh;
    font-size: larger;
    color: white;
}

nav {
    grid-area: nv;
    box-shadow: 3px 5px 5px 3px #f39c12;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.main1 {
    grid-area: mn;
    box-shadow: 3px 3px 3px 3px #f39c12;
    background-color: white;
    border-radius: 20px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: flex;
    align-items: start; 
    flex-direction: column;
    padding: 10px;
    color: #f39c12;
}

.section1 {
    grid-area: se;
    box-shadow: 3px 3px 5px 3px #f39c12;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-area: as;
    box-shadow: 3px 3px 3px 3px #f39c12;
    margin-right: 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer {
    grid-area: ft;
    background-color: #f39c12;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.vit {
    color: white;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 550;
}

h1,
h2,
h3 {
    justify-self: center;
    font-family: 'Times New Roman', Times, serif;
}

.vänster {
    align-self: flex-start;
}

a {
    color: #f39c12;
    font-family: 'Times New Roman', Times, serif;
}

#kort {
    display: flex;
    flex-wrap: wrap;
    grid-area: mn;
    box-shadow: 3px 3px 3px 3px #f39c12;
    background-color: white;
    border-radius: 20px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 10px;
    gap: 20px;
    justify-content: space-evenly;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    width: 46%;
    position: relative;
}

.text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
    width: 100%;
    background-color: white;
    color: #f39c12;
}

.kort_bild {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.loga {
    height: 8vh;
    width: auto;
    border-radius: 20px;
}

.rubrik {
    grid-area: ru;
    display: flex;
    position: absolute;
    left: 42%;
    align-items: center;
}

.bild-loga {
    grid-area: lo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loga2 {
    width: 100%;
    height: auto;
}

.om_oss_bild {
    height: auto;
    width: 100%;
    border-radius: 30px;
}