body {
    margin: 0px;
    text-decoration: #f39c12;
}

div {
    display: grid;
    height: 100vh;
    gap: 10px;
    grid-template: 10vh 1fr 1fr 10vh / 1fr 55vw 23vw;
    grid-template-areas:
        "hd hd hd"
        "nv mn as"
        "se mn as"
        "ft ft ft";
}

header {
    grid-area: hd;
    background-color: #f39c12;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-decoration: white;
}

nav {
    grid-area: nv;
    box-shadow: 3px 5px 5px 3px #f39c12;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

main {
    grid-area: mn;
    box-shadow: 3px 3px 3px 3px #f39c12;
    background-color: white;
    border-radius: 20px;
    overflow: hidden scroll;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px;
}

section {
    grid-area: se;
    box-shadow: 3px 3px 5px 3px #f39c12;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
}

aside {
    grid-area: as;
    box-shadow: 3px 3px 3px 3px #f39c12;
    margin-right: 10px;
    background-color: white;
    border-radius: 20px;
}

footer {
    grid-area: ft;
    background-color: #f39c12;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.vit{
    color: white;
}

.orange {
    color: #f39c12;
}

a {
    font-size: 1.5em;
    text-decoration: none;
}

h1, h2 {
    align-self: center;
}